location ~ .*\.(jpg|JPG|gif|GIF|png|PNG|svg|swf|SWF|css|CSS|js|JS|inc|INC|ico|ICO) {
  expires 1d;
  break;
}

location / {
	try_files $uri /public/index.php?_url=$uri&$args;
    fastcgi_pass heroku-fcgi;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
    break;
}

location ^~ /assets/ {

  break;
}

location ~ \.php$ {
	try_files $uri /public/index.php?_url=$uri&$args;
    fastcgi_pass heroku-fcgi;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
}

location ~ /\.ht {
    access_log off;
    log_not_found off;
    deny  all;
}
