location ~ .*\.(jpg|JPG|gif|GIF|png|PNG|svg|swf|SWF|css|CSS|js|JS|inc|INC|ico|ICO) {
  expires 1d;
  break;
}

location ^~ /assets/ {
  expires 1d;
  break;
}

location ~* \favicon.ico$ {
    access_log off;
    expires 1d;
    add_header Cache-Control public;
    break;
 }

location ~ /\.ht {
    access_log off;
    log_not_found off;
    deny  all;
    break;
}

location / {
    try_files $uri /index.php?$uri&$args;
}

location ~ \.php$ {
    fastcgi_pass heroku-fcgi;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
}
